<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<div class="landing">
<section class="topslot">
	<div class="wrapper">

		<div class="brief">
			<h1></h1>
      <p><h1><span id="verb">
				<img src="http://i.imgur.com/ENU5OMS.png" alt="Smiley face" height="200" width="200" id="lit-logo-sess">
			</span><h1></p>
		</div>

	</div>
</section>

<!-- <section> -->
	<div class="main">
    <%= form_tag "/login" do %>
      <%= text_field_tag :email, "", placeholder: "email" %>
      <%= password_field_tag :password, "", placeholder: "password" %>
      <div class="signup-fields">
        <!-- <input id="email" placeholder="email" name="email" type="email" value="" /> -->
      </div>
      <%= link_to('', login_path, :method => :create) %>
      <%= submit_tag "Log In" %>

    <% end %>

    <div class="extras">
			<%= link_to "Sign Up Here", new_user_path, id: "signup" %>
    </div>
	</div>
