 <!-- <h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %> -->


<section class="topslot2">
<div class='bruh'>
  <%= form_for @user do |f|  %>
  <%= f.text_field :name, placeholder:"full name" , class:"signups"%>
  <br>
  <br>
  <%= f.email_field :email, placeholder:"e-mail", class:"signups" %>
  <br>
  <br>
  <%= f.password_field :password, placeholder:"password", class:"signups" %>
  <br>
  <br>
  <%= f.password_field :password_confirmation, placeholder:"confirm password",
   class:"signups" %>
  <br>
  <%= f.submit "Sign Up", id:"signupbutton" %><br>
  <br>
<% end %>
</div>
</section>
