<!-- <h1>New User</h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', users_path %> -->


<h1>Sign Up!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name:<br> 
  <%= f.text_field :name %></label><br>
  <br>
  Email:<br> 
  <%= f.text_field :email %><br>
  <br>
  Password:<br>
  <%= f.password_field :password %><br>
  <br>
  Password Confirmation:<br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Submit" %><br>
  <br>
<% end %>
</div>


