<div class="header"><span id="title">It's Lit</span>    <div class="loginlink"><% if current_user %>
        Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
        <% else %>
        <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
        <% end %></div></div>
<dl>
  <div class="display"><% @profile.businesses.each do |value| %>
    
    <dd class="container"><br>
    <div class = "box1">
    <h1><a href ="#"><%= value.name %></a></h1><br>
    <img src="<%=value.image_url%>"><br></div>
    <br><div class="box2">
    <%= value.location.display_address %><br>
    <%= value.location.coordinate.latitude %>
    <%= value.location.coordinate.longitude %><br>
    <%= value.location.neighborhoods %><br>
    Phone:<%= value.display_phone %><br></div>
    <hr>
  <% end %>
  </div>
</dl>
<p>See More?</p>
