<!--     render partial: 'layouts/navbar'    -->
<div class="center jumbotron">
        <h1>It's lit<h1>
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


<% @places.zip(@image_urls).each do |place, image_url| %><br>
  <div class="row">
    <div class="col s12 m7">
      <div class="card medium">
        <div class="card-image">
          <%=image_tag("#{place.image_url}", class: 'yelp-icon responsive-img')%>
          <span class="card-title"><%= link_to place.name, place_path(place) %></span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons"><%= link_to '', 'http://www.google.com/maps/place/#{place.coordinate_latitude},#{place.coordinate_longitude}', :target => "_blank" %></i></a>
        </div>
        <div class="card-content">
        <p>
        <%= place.address %>
        <%= place.city %>, <%= place.state_code %> <%= place.postal_code%><br>
        <% if place.neighborhoods %>
        Neighborhood: <%= place.neighborhoods %>
        <% end %></p>   
        </div>
      </div>
    </div>
  </div>
  <% end %>
           



      <div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="images/sample-1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>






















<div class="landing-venue">
        <% @places.zip(@image_urls).each do |place, image_url| %><br>
        <%= link_to place.name, place_path(place) %><br>
        <%=image_tag("#{place.image_url}", class: 'yelp-icon')%><br>
        <%= place.address %>
        <%= place.city %>, <%= place.state_code %> <%= place.postal_code%><br>
        <% if place.neighborhoods %>
        Neighborhood: <%= place.neighborhoods %>
        <% end %><br>
        <%= link_to 'Map it!', 'http://www.google.com/maps/place/#{place.coordinate_latitude},#{place.coordinate_longitude}', :target => "_blank" %><br>
        <% end %>
</div>