<%= render partial: 'layouts/form' %>
<div class="row">
<dl class="intro-views">
    <% @places.zip(@image_urls).each do |place, image_url| %>
    <dd><div class="row">
    <div class="col-xs-12">
    <h2><center><%= link_to place.name, place_path(place) %></a></center></h2><br></div></div>
    <div class="row"><div class="col-xs-4">
    <img src="<%= image_url %>" class='yelp-icon'></div>
    <div class="col-xs-8"> 
    <%= place.address %><br>
    <%= place.city %>, <%= place.state_code %> <%= place.postal_code%> <br>
    <% if place.neighborhoods %>
    Neighborhood: <%= place.neighborhoods %><br>
     <% end %>
    <%= place.coordinate_latitude %>
    <%= place.coordinate_longitude %><br>
    <%= place.yelp_id %>
    <hr>
  <% end %><br></div></div>
</dl>
