<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @place, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      Atmosphere: <%= rating_for @place, "atmosphere" %>
      Visual Effects: <%= rating_for @place, "atmosphere", stars: 5  %>
      <br>
      Drinks: <%= rating_for @place, "drinks" %>
      <br>
      Wait Time: <%= rating_for @place, "wait_time" %>
      <br>
      Cost: <%= rating_for @place, "cost" %>
      <br>
      Music: <%= rating_for @place, "music" %>
    <% end %>
  </div>
</div>
