
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <td><h2><strong><%= @place.name %></strong></h2></td>
        <tr>
          <td><strong>Address:</strong></td>
          <td><%= @place.address %><br>
          <%= @place.city %> <%= @place.state_code %> <%= @place.postal_code %></td>
        </tr>
        <tr>
          <td><strong>Neighborhood:</strong></td>
          <td><%= @place.neighborhoods %></td>
        </tr>
          <td><strong>Phone:</strong></td>
          <td><%= @place.phone %></td>
      </tbody>
    </table>
  </div>
  <%= render partial: 'layouts/gmap' %>

    <br>
    <%= render partial: 'layouts/raters' %>
  </div>
  <br>
  <br>
  <br>
      
