<%= render partial: 'layouts/form' %>
  <div class="table-responsive">
    <table class="table">
      <tbody>
        <td><h2><strong><%= @place.name %></strong></h2></td>
        <tr>
          <td><strong>Address:</strong></td>
          <td><%= @place.address %><br>
          <%= @place.city %> <%= @place.state_code %> <%= @place.postal_code %></td>
        </tr>
        <tr>
          <td><strong>Neighborhood:</strong></td>
          <td><%= @place.neighborhoods %></td>
        </tr>
          <td><strong>Phone:</strong></td>
          <td><%= @place.phone %></td>
      </tbody>
    </table>
  </div>
  <%= render partial: 'layouts/gmap' %>
  <!-- <div class="row">
    <div class="small-2 large-2 columns">
      <%= imdb_style_rating_for @place, current_user %>
    </div> -->
    <br>
    <div class="lit-rating" id="rate">
      <% if current_user %>
        <ul>
          <li id="atmos-rating">Atmosphere:<br>
            <%= rating_for @place, "atmosphere", cancel_hint: 'Cancel this vote!', imdb_avg: true, space:true, stars: 5, :disable_after_rate => false , star_off: "fire-off1.png" , :star_on => "mid-fire.png" %>
          </li>
          <br>
          <li id="drink-rating">Drinks:<br>
            <%= rating_for @place, "drinks", cancel_hint: 'Cancel this vote!', imdb_avg: true, space: true, stars: 5, :disable_after_rate => false , star_off: "fire-off1.png" , :star_on => "mid-fire.png" %>
          </li>
          <br>
          <li id="wait-rating">Service Time:<br>
            <%= rating_for @place, "wait_time", cancel_hint: 'Cancel this vote!', imdb_avg: true, space: true, stars: 5, :disable_after_rate => false , star_off: "fire-off1.png" , :star_on => "mid-fire.png" %>
          </li>
          <br>
          <li id="cost-rating">Cost: <br>
            <%= rating_for @place, "cost", cancel_hint: 'Cancel this vote!', imdb_avg: true, space: true, stars: 5, :disable_after_rate => false , star_off: "fire-off1.png" , :star_on => "mid-fire.png" %>
          </li>
          <br>
          <li id="music-rating">Music:<br>
            <%= rating_for @place, "music", cancel_hint: 'Cancel this vote!', imdb_avg: true, space: true, stars: 5, :disable_after_rate => false , star_off: "fire-off1.png" , :star_on => "mid-fire.png" %>
          </li>
          <br>
          <%= button_tag "Submit", onclick: "savePlaceRating()", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <br>
  <br>
  <br>
