<dl>
<% if @profile %>
    <% @profile.businesses.each do |biz| %>
    
    <dd>
    <h1><%= link_to biz.name, places_path %></a></h1><br>
    <img src="<%= biz.image_url %>"><br>
    <%= biz.location.address.join %><br>
    <%= biz.location.city %>, <%= biz.location.state_code %> <%= biz.location.postal_code %> <br>
    <% if biz.location.neighborhoods %>
    Neighborhood: <%= biz.location.neighborhoods.join %><br>
    <% end %>
    <%= biz.location.coordinate.latitude %>
    <%= biz.location.coordinate.longitude %><br>
    Phone:<%= biz.display_phone %><br>
    <hr>

  <% end %>
        <% else %>
    no places yo
<% end %>

  
</dl>